version: '2'
services:
# Container that runs HDFS NameNode and DataNode services
  hdfs-namenode:
   image: hdfs-namenode
   hostname: hdfs-namenode-host
   ports:
     # HDFS port
     - "9000:9000"
     # HDFS NameNode WebUI
     - "50070:50070"
   # Adjust according to the resources available on host machine
   cpu_shares: 3000
   mem_limit: 2g

  # Container that runs HDFS DataNode service
  hdfs-datanode:
   image: hdfs-datanode
   hostname: hdfs-datanode-host
   links:
     - hdfs-namenode
   environment:
     # NAMENODE_HOSTNAME is the hostname of the container running Namenode service
     - NAMENODE_HOSTNAME=hdfs-namenode-host
   # Adjust according to the resources available on host machine
   cpu_shares: 3000
   mem_limit: 2g

  # Container that runs Spark Master and Worker services
  spark-master:
   image: spark-master
   hostname: spark-master-host
   links:
     - hdfs-namenode
   ports:
     # Spark master WebUI port
     - "8080:8080"
     # Spark master job submission port
     - "7077:7077"
   environment:
     # NAMENODE_HOSTNAME is the hostname of the container running Namenode service
     - NAMENODE_HOSTNAME=hdfs-namenode-host
   # Adjust according to the resources available on host machine
   cpu_shares: 3000
   mem_limit: 2g

  # Container that runs Spark Worker service
  spark-slave:
   image: spark-slave
   hostname: spark-slave-host
   links:
     - hdfs-namenode
     - spark-master
   environment:
     # NAMENODE_HOSTNAME is the hostname of the container running Namenode service
     - NAMENODE_HOSTNAME=hdfs-namenode-host
     # MASTER_HOSTNAME is the hostname of the container running Spark master service
     - MASTER_HOSTNAME=spark-master-host
   # Adjust according to the resources available on host machine
   cpu_shares: 3000
   mem_limit: 2g

  elasticsearch:
    image: docker.elastic.co/elasticsearch/elasticsearch-oss:6.0.1
    container_name: elasticsearch
    environment:
      - cluster.name=docker-cluster
      - bootstrap.memory_lock=true
      - "ES_JAVA_OPTS=-Xms512m -Xmx512m"
    ulimits:
      memlock:
        soft: -1
        hard: -1
    volumes:
      - esdata1:/usr/share/elasticsearch/data
    ports:
      - 9200:9200
    networks:
      - esnet

  elasticsearch2:
    image: docker.elastic.co/elasticsearch/elasticsearch-oss:6.0.1
    container_name: elasticsearch2
    environment:
      - cluster.name=docker-cluster
      - bootstrap.memory_lock=true
      - "ES_JAVA_OPTS=-Xms512m -Xmx512m"
      - "discovery.zen.ping.unicast.hosts=elasticsearch"
    ulimits:
      memlock:
        soft: -1
        hard: -1
    volumes:
      - esdata2:/usr/share/elasticsearch/data
    networks:
      - esnet
  kibana:
    image: docker.elastic.co/kibana/kibana-oss:6.0.1
    environment:
      SERVER_NAME: localhost
      ELASTICSEARCH_HOST: elasticsearch
      ELASTICSEARCH_PORT: 9200
    ports:
      - 5601:5601
    networks:
      - esnet

volumes:
  esdata1:
    driver: local
  esdata2:
    driver: local

networks:
  esnet: